body {
 background-repeat: no-repeat;
 background-attachment: fixed; 
 background-size: 100% 100%;
 background-image:url('marti.github.io/img/bg.jpg');
 }
<style>
.fonts {
	font-family: verdana;
	color:yellow;
}
ul {
	list-style-type: none;
        margin: 300;
	padding: 300;
	overflow: hidden;
	background-color: black;
}
li {
	float: left;
}
li a {
	display: block;
	color: yellow;
	text-align: center;
        padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color: yellow;
	color: black;
}
</style>
