body {
 background-repeat: no-repeat;
 background-attachment: fixed; 
 background-size: 100% 100%;
 background-image:url('img/bg.jpg');
}
.fonts {
	font-family: verdana;
	color:yellow;
}
ul {
	list-style-type: none;
        margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
li {
	float: left;
	font-size:20px;
}
li a {
	display: block;
	color: yellow;
	text-align: center;
        padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #f3f312;
	color: black;
}
